@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit; /* Keeps the color of links same as the surrounding text */
  text-decoration: none; /* Removes underline from links */
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

input,
textarea {
  outline: none;
}
